In [1]:
import pandas as pd

## DataFrame
A DataFrame is a table. It contains an array of individual entries, each of which  has a certain value
Each entry corresponds to a row(or record) and a column.

In [2]:
pd.DataFrame({'Yes':[12,34],'No':[34,56]})

   Yes  No
0   12  34
1   34  56

A DataFrame's entries are dictionary , with key as the column header and value as the row values.
The index are automatically incremented starting from 0 , if not provided.
You can specifically provide them.as.

In [3]:
pd.DataFrame({'Bob':['Awsome UI','API is robust'],'Marley':['responsive','Scalable-API']}
             ,index=['Portfolio','Twitter-clone'])

                         Bob        Marley
Portfolio          Awsome UI    responsive
Twitter-clone  API is robust  Scalable-API

## Series
This helps in creating a One-dimensional ndarray with axis labels.
The data can be string , int, float and dictionary,Array etc.

In [5]:
pd.Series([1,3,4,5,6,7])

0    1
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [6]:
pd.Series(['saurabh','mark','danny'])

0    saurabh
1       mark
2      danny
dtype: object

A Series is , in essence a single column of a DataFrame, So you can assign column values to the series the way as before, using an index parameter.However a series doesn't have a column name, I only has an overall name.

In [7]:
pd.Series(['Awsome','UI is hell','Not seen a API like this'],
          index=['portfolio','KanabanBoard','Twitter'],name="Webapp review")

portfolio                         Awsome
KanabanBoard                  UI is hell
Twitter         Not seen a API like this
Name: Webapp review, dtype: object

## Reading data files
We can create DataFrames or series by hand, but in realworld scenarios ,we would be required to 
read data from external sources , one of most common format is csv files.pandas is rebost to read data from such sources.Let's have a look

In [8]:
#Read the winery data
wine_data=pd.read_csv('winemag-data-130k-v2.csv')

In [9]:
#shape property gives you the shape of the ndarray i.e dataframe
wine_data.shape

(129971, 14)

So our DataFrame has around 130000 records split across 14 different columns,we can examine the contents of the DataFrame using head() command, which grabs the first 5 rows.

In [10]:
wine_data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [12]:
#You can also provide numerical values to the head
wine_data.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos