In [1]:
import pandas as pd

## DataFrame
A DataFrame is a table. It contains an array of individual entries, each of which  has a certain value
Each entry corresponds to a row(or record) and a column.

In [2]:
pd.DataFrame({'Yes':[12,34],'No':[34,56]})

   Yes  No
0   12  34
1   34  56

A DataFrame's entries are dictionary , with key as the column header and value as the row values.
The index are automatically incremented starting from 0 , if not provided.
You can specifically provide them.as.

In [3]:
pd.DataFrame({'Bob':['Awsome UI','API is robust'],'Marley':['responsive','Scalable-API']}
             ,index=['Portfolio','Twitter-clone'])

                         Bob        Marley
Portfolio          Awsome UI    responsive
Twitter-clone  API is robust  Scalable-API

## Series
This helps in creating a One-dimensional ndarray with axis labels.
The data can be string , int, float and dictionary,Array etc.

In [5]:
pd.Series([1,3,4,5,6,7])

0    1
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [6]:
pd.Series(['saurabh','mark','danny'])

0    saurabh
1       mark
2      danny
dtype: object

A Series is , in essence a single column of a DataFrame, So you can assign column values to the series the way as before, using an index parameter.However a series doesn't have a column name, I only has an overall name.

In [7]:
pd.Series(['Awsome','UI is hell','Not seen a API like this'],
          index=['portfolio','KanabanBoard','Twitter'],name="Webapp review")

portfolio                         Awsome
KanabanBoard                  UI is hell
Twitter         Not seen a API like this
Name: Webapp review, dtype: object

## Reading data files
We can create DataFrames or series by hand, but in realworld scenarios ,we would be required to 
read data from external sources , one of most common format is csv files.pandas is rebost to read data from such sources.Let's have a look

In [8]:
#Read the winery data
wine_data=pd.read_csv('winemag-data-130k-v2.csv')

In [9]:
#shape property gives you the shape of the ndarray i.e dataframe
wine_data.shape

(129971, 14)

So our DataFrame has around 130000 records split across 14 different columns,we can examine the contents of the DataFrame using head() command, which grabs the first 5 rows.

In [10]:
wine_data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [12]:
#You can also provide numerical values to the head
wine_data.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

read_csv method can be used with 30 different optional parameters.E.g. In this dataset csv file has an inbuilt index, which pandas didn't pick automatically so we can make pandas use that column as index by specifying argument index_col.

In [13]:
wine_data=pd.read_csv("winemag-data-130k-v2.csv",index_col=0)

In [14]:
wine_data.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

## Index-Selecting & assignment
Selecting specific values of a DataFrame is crucial and implicit step in any data operation for better insight and visulalization. Python helps a lot in selecting specific data point relevat to you quickly and effectiviely.

In [19]:
# this restrics the interpreter to show only the specified max_rows and rest are hidden.
pd.set_option('max_rows',5)

In [20]:
wine_data

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [21]:
# A specific property of the DataFrame can be accessed by assinging it as an attribute.
# Since a max_rows property is applied the attribute behaves in the same way
wine_data.country

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [22]:
# What we are seeing above is nothing but a series
# It can be accessed by providing the attribute name in [].
wine_data['country']

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [24]:
# we can select a value based on it's as if it was a Dictionary with index as their key
wine_data['country'][1]

'Portugal'

## Indexing in Pandas
The indexing operator and attribute selection are good as they work just like they do in the python ecosystem.However pandas has it's own indexing operatiors iloc and loc.
Index based selection in Pandas indexing works in one of the 2 paradigm. The first one is index-based selection: Selecting data based on it's numerical position in data.
iloc follows the paradigm.

In [25]:
#To Select the first row of data in a DataGram ,this need to be done
wine_data.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

Both loc and iloc are row-first and column-second, This is opposite of is in native python, which is column-first and row-second.

In [30]:
#To Get the column with iloc , this is the approach

wine_data.iloc[:,1]

#':' denotes all(everything) the rows and '1' is the 2nd cloumn which is 'description'

0         Aromas include tropical fruit, broom, brimston...
1         This is ripe and fruity, a wine that is smooth...
                                ...
129969    A dry style of Pinot Gris, this is crisp with ...
129970    Big, rich and off-dry, this is powered by inte...
Name: description, Length: 129971, dtype: object

In [31]:
# we can provide the range also, for e.g to select the country column just the first ,second and 
# third row , we can do this

wine_data.iloc[:3,0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [33]:
# and to select just the second and third entries  (Note index starts from 0)
wine_data.iloc[1:3,0]

1    Portugal
2          US
Name: country, dtype: object

In [36]:
# It is also posiible to pass a list
wine_data.iloc[[1,4,8],0]

1    Portugal
4          US
8     Germany
Name: country, dtype: object

In [41]:
# Negative index can also be used in the selection. This will start counting forward from the end of
# values.
# to select the last 2 data
wine_data.iloc[-2:]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [47]:
# Similarly to select last 2 country from the dataset
wine_data.iloc[-2:,0]

129969    France
129970    France
Name: country, dtype: object

## Label-based selection
The second paradigm for attribute selection is the one followed by the loc operator:label-based selection.In this paradigm. it's the data index value, not it's position which counts.

In [51]:
# To get the first entry in data
wine_data.loc[0,'country']

'Italy'

iloc is conceptual simpler than loc because it ignores the dataset's indices.
When we use iloc we treat the dataset like a big matrix (a list of lists), one that we have to index into by position.
loc by contrast , uses the information in the indices to do this work , since the dataset already has meaningfil indices, it's easier to do thing using loc instead.

In [54]:
# to get the first 4 info based on indices
wine_data.loc[1:4,['taster_name','taster_twitter_handle','points']]

          taster_name taster_twitter_handle  points
1          Roger Voss            @vossroger      87
2        Paul Gregutt           @paulgwine       87
3  Alexander Peartree                   NaN      87
4        Paul Gregutt           @paulgwine       87

### Note 
- keep in mind about iloc and loc , that they use different indexing options.
- iloc uses python's stlib indexing scheme, where the first element of the range is included and last one is excluded. ([1:10]-- return data from 1..9) exclusive type.
- loc whereas is of inclusive nature meand ([1:10]-- return data from 1..10)

## Manipulating the index
However the index of the dataset are immutable , but we can manipulate the index as we want by using 
set_index method.

In [58]:
# to provie a index which fits better than actual index we use set_index
wine_data.set_index('designation')

,country,description,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
designation,,,,,,,,,,,,
Vulkà Bianco,Italy,"Aromas include tropical fruit, broom, brimston...",87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
Avidagos,Portugal,"This is ripe and fruity, a wine that is smooth...",87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,France,"A dry style of Pinot Gris, this is crisp with ...",90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
Lieu-dit Harth Cuvée Caroline,France,"Big, rich and off-dry, this is powered by inte...",90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

## Conditional Selection
- so far we have been indexing the various data , using structural properties of the DataFrame itself.
- we can do conditional selction to get answer the questions based on condition, there comes the use of conditional selction

In [59]:
# to get the info based on country name
wine_data.country=='Italy'

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

> this operation produced a Series of True/False based on country value of each row.This result can be used inside a loc get the relevant data

In [61]:
# get all of them based ona condition
wine_data.loc[wine_data.country == "Italy"]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

In [69]:
# more complex conditonal fetch
wine_data.loc[(wine_data.country == 'Italy') & (wine_data.points>=90) 
              & (wine_data.price==70.0)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128665,Italy,This structured wine opens with aromas of leaf...,Torre della Trappola,90,70.0,Tuscany,Brunello di Montalcino,NaN,Kerin O’Keefe,@kerinokeefe,Barone Ricasoli 2010 Torre della Trappola (Br...,Sangiovese,Barone Ricasoli
129585,Italy,"Engaging scents suggesting rose, iris, perfume...",NaN,90,70.0,Tuscany,Brunello di Montalcino,NaN,Kerin O’Keefe,@kerinokeefe,Sesta di Sopra 2011 Brunello di Montalcino,Sangiovese,Sesta di Sopra

In [71]:
# purchase wine from Italy which or rated above average
wine_data.loc[(wine_data.country == "Italy") | (wine_data.points>=90)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

### Builtin Conditional Selectors

In [73]:
# isin operator

wine_data.loc[wine_data.country.isin(['Italy','Us'])]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

In [77]:
# isnull & notnull
wine_data.loc[(wine_data.country == "Italy") & (wine_data.taster_name.notnull())]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

### Assigining Data

In [81]:
# assiging data to a DataFrame, a constant value can be assigned
wine_data['critics']="everyone"
wine_data.loc[:,'critics']

0         everyone
1         everyone
            ...
129969    everyone
129970    everyone
Name: critics, Length: 129971, dtype: object

In [87]:
# assigning iterable values
wine_data['index_backwards']=range(len(wine_data),0,-1)
wine_data.loc[:,'index_backwards']

0         129971
1         129970
           ...
129969         2
129970         1
Name: index_backwards, Length: 129971, dtype: int64

### Summary Functions
> We can't get the meaningful data from a dataset by leveraging the builtin summary function

In [88]:
# describe
wine_data.points.describe()

count    129971.000000
mean         88.447138
             ...
75%          91.000000
max         100.000000
Name: points, Length: 8, dtype: float64

> this method generates a high level sumamry of the attributes of the given column.

In [89]:
# for string type column
wine_data.taster_name.describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

In [93]:
# individual descrptions of a column e.g, mean,median etc.
wine_data.points.mean()

88.44713820775404

In [94]:
wine_data.points.median()

88.0

In [95]:
# To list unique values
wine_data.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)