## Use machine learning to create a model that predicts which passengers survived the Titanic shipwreck.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
# load train dataset
train_ds = pd.read_csv('titanic_train.csv')
train_ds.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,28.500000,7.2292,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,1,0,0
1,1,27.000000,10.5000,0,1,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
2,1,29.699118,16.1000,0,0,1,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
3,0,29.699118,0.0000,1,0,0,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1
4,0,17.000000,8.6625,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [26]:
# describe data
train_ds.describe()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
count,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.00000,712.00000,712.000000,712.000000,...,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,0.393258,29.674341,32.777006,0.238764,0.209270,0.551966,0.36236,0.63764,0.688202,0.230337,...,0.751404,0.140449,0.087079,0.007022,0.005618,0.007022,0.001404,0.179775,0.082865,0.737360
std,0.488817,12.986095,51.481840,0.426628,0.407073,0.497642,0.48102,0.48102,0.463553,0.421345,...,0.432503,0.347697,0.282148,0.083564,0.074795,0.083564,0.037477,0.384270,0.275872,0.440378
min,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,22.000000,7.925000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,29.699118,14.456250,0.000000,0.000000,1.000000,0.00000,1.00000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,35.000000,31.275000,0.000000,0.000000,1.000000,1.00000,1.00000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,1.000000,80.000000,512.329200,1.000000,1.000000,1.000000,1.00000,1.00000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
train_ds.corr()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
Survived,1.000000,-0.046308,0.230529,0.264012,0.101815,-0.309622,0.529612,-0.529612,-0.078808,0.146858,...,-0.129017,0.146259,0.036895,0.035593,-0.060513,-0.033272,-0.030193,0.154717,0.029180,-0.153285
Age,-0.046308,1.000000,0.110536,0.343617,0.031195,-0.320100,-0.093782,0.093782,0.139889,0.029764,...,0.241332,-0.166999,-0.217069,0.022848,0.085872,0.061730,0.038511,0.015299,-0.006800,-0.009090
Fare,0.230529,0.110536,1.000000,0.580113,-0.120511,-0.398752,0.164505,-0.164505,-0.168262,0.115299,...,-0.216268,0.109164,0.178822,-0.011157,0.076255,-0.000371,0.010295,0.251193,-0.111409,-0.149398
Pclass_1,0.264012,0.343617,0.580113,1.000000,-0.288114,-0.621621,0.071270,-0.071270,-0.042631,0.108309,...,0.009614,0.020135,-0.009387,-0.047098,0.001981,-0.047098,-0.021003,0.252555,-0.144442,-0.129892
Pclass_2,0.101815,0.031195,-0.120511,-0.288114,1.000000,-0.571005,0.079072,-0.079072,-0.011494,0.071175,...,-0.023640,0.040474,0.000310,0.039430,-0.038668,-0.043263,-0.019293,-0.132950,-0.117063,0.189344
Pclass_3,-0.309622,-0.320100,-0.398752,-0.621621,-0.571005,1.000000,-0.125780,0.125780,0.045950,-0.151075,...,0.011096,-0.050370,0.007794,0.008123,0.029932,0.075766,0.033788,-0.107762,0.219588,-0.043528
Sex_female,0.529612,-0.093782,0.164505,0.071270,0.079072,-0.125780,1.000000,-1.000000,-0.205353,0.170525,...,-0.276250,0.149385,0.181704,0.076566,0.021523,0.076566,0.049749,0.035138,0.091371,-0.087900
Sex_male,-0.529612,0.093782,-0.164505,-0.071270,-0.079072,0.125780,-1.000000,1.000000,0.205353,-0.170525,...,0.276250,-0.149385,-0.181704,-0.076566,-0.021523,-0.076566,-0.049749,-0.035138,-0.091371,0.087900
SibSp_0,-0.078808,0.139889,-0.168262,-0.042631,-0.011494,0.045950,-0.205353,0.205353,1.000000,-0.812743,...,0.440639,-0.303851,-0.233014,-0.088630,-0.071104,-0.052321,-0.055717,-0.048084,0.059347,0.004780
SibSp_1,0.146858,0.029764,0.115299,0.108309,0.071175,-0.151075,0.170525,-0.170525,-0.812743,1.000000,...,-0.241035,0.239688,-0.003323,0.073833,0.092769,0.073833,0.068554,0.100044,-0.067638,-0.044926
SibSp_2,0.046592,-0.093757,0.055898,-0.019745,0.012353,0.006823,0.058553,-0.058553,-0.258995,-0.095368,...,-0.072594,0.048992,0.034488,0.084751,-0.013103,-0.014660,-0.006538,0.026476,0.037937,-0.046868
SibSp_3,-0.060736,-0.153019,0.081420,-0.022142,-0.067357,0.074080,0.105588,-0.105588,-0.194520,-0.071626,...,-0.227631,0.135490,0.191750,-0.011011,-0.009841,-0.011011,-0.004910,-0.061297,-0.039356,0.078142
SibSp_4,-0.088316,-0.233433,0.003764,-0.076376,-0.070157,0.122866,0.006314,-0.006314,-0.202607,-0.074604,...,-0.237096,0.156219,0.181120,-0.011469,-0.010251,-0.011469,-0.005114,-0.063846,0.035113,0.033715
SibSp_5,-0.067704,-0.126202,0.023086,-0.047098,-0.043263,0.075766,-0.028405,0.028405,-0.124939,-0.046005,...,-0.146206,-0.033994,0.272293,-0.007072,-0.006321,-0.007072,-0.003154,-0.039371,-0.025278,0.050190
SibSp_8,-0.080222,0.000190,0.071225,-0.055806,-0.051262,0.089775,0.013726,-0.013726,-0.148039,-0.054511,...,-0.173239,-0.040279,0.322638,-0.008380,-0.007490,-0.008380,-0.003737,-0.046650,-0.029952,0.059470
Parch_0,-0.129017,0.241332,-0.216268,0.009614,-0.023640,0.011096,-0.276250,0.276250,0.440639,-0.241035,...,1.000000,-0.702772,-0.536945,-0.146206,-0.130678,-0.146206,-0.065201,-0.035372,0.113955,-0.040521
Parch_1,0.146259,-0.166999,0.109164,0.020135,0.040474,-0.050370,0.149385,-0.149385,-0.303851,0.239688,...,-0.702772,1.000000,-0.124843,-0.033994,-0.030383,-0.033994,-0.015160,0.084450,-0.077516,-0.025131
Parch_2,0.036895,-0.217069,0.178822,-0.009387,0.000310,0.007794,0.181704,-0.181704,-0.233014,-0.003323,...,-0.536945,-0.124843,1.000000,-0.025973,-0.023214,-0.025973,-0.011583,-0.027839,-0.074765,0.071128
Parch_3,0.035593,0.022848,-0.011157,-0.047098,0.039430,0.008123,0.076566,-0.076566,-0.088630,0.073833,...,-0.146206,-0.033994,-0.025973,1.000000,-0.006321,-0.007072,-0.003154,0.004429,-0.025278,0.011970
Parch_4,-0.060513,0.085872,0.076255,0.001981,-0.038668,0.029932,0.021523,-0.021523,-0.071104,0.092769,...,-0.130678,-0.030383,-0.023214,-0.006321,1.000000,-0.006321,-0.002819,-0.035189,-0.022593,0.044860
Parch_5,-0.033272,0.061730,-0.000371,-0.047098,-0.043263,0.075766,0.076566,-0.076566,-0.052321,0.073833,...,-0.146206,-0.033994,-0.025973,-0.007072,-0.006321,1.000000,-0.003154,-0.039371,0.035732,0.011970
Parch_6,-0.030193,0.038511,0.010295,-0.021003,-0.019293,0.033788,0.049749,-0.049749,-0.055717,0.068554,...,-0.065201,-0.015160,-0.011583,-0.003154,-0.002819,-0.003154,1.000000,-0.017558,-0.011273,0.022382
Embarked_C,0.154717,0.015299,0.251193,0.252555,-0.132950,-0.107762,0.035138,-0.035138,-0.048084,0.100044,...,-0.035372,0.084450,-0.027839,0.004429,-0.035189,-0.039371,-0.017558,1.000000,-0.140724,-0.784436
Embarked_Q,0.029180,-0.006800,-0.111409,-0.144442,-0.117063,0.219588,0.091371,-0.091371,0.059347,-0.067638,...,0.113955,-0.077516,-0.074765,-0.025278,-0.022593,0.035732,-0.011273,-0.140724,1.000000,-0.503649
Embarked_S,-0.153285,-0.009090,-0.149398,-0.129892,0.189344,-0.043528,-0.087900,0.087900,0.004780,-0.044926,...,-0.040521,-0.025131,0.071128,0.011970,0.044860,0.011970,0.022382,-0.784436,-0.503649,1.000000

In [27]:
# fare has zero values
len(train_ds.loc[train_ds.Fare==0]==True)

9

In [28]:
# fill the 0 with mean
train_ds['Fare'] = train_ds.Fare.map(lambda f: train_ds.Fare.mean() if f==0 else f)

In [29]:
train_ds.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,28.500000,7.229200,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,1,0,0
1,1,27.000000,10.500000,0,1,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
2,1,29.699118,16.100000,0,0,1,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
3,0,29.699118,32.777006,1,0,0,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1
4,0,17.000000,8.662500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [30]:
len(train_ds.loc[train_ds.Fare==0]==True)

0

In [33]:
# classify dependent and independent variables
x_train = train_ds.drop('Survived',axis=1)
y_train = train_ds.Survived