## Here we need to construct a linear model thet explains the relationship a car's milage has with other attributes.

### Import libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split

In [3]:
auto_data = pd.read_csv('auto-mpg.csv')
auto_data.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320

### EDA

In [ ]:
# we don't need car_name column so will drop it
auto_data = auto_data.drop('car name',axis=1)

In [10]:
auto_data.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504,12.0,70,1
1,15.0,8,350.0,165,3693,11.5,70,1

In [32]:
# Find missing values for horsepower
hpIsDigit = pd.DataFrame(auto_data.horsepower.str.isdigit())
hpIsDigit.head(2)

   horsepower
0        True
1        True

In [30]:
auto_data[hpIsDigit['horsepower']== False]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
32,25.0,4,98.0,?,2046,19.0,71,1
126,21.0,6,200.0,?,2875,17.0,74,1
330,40.9,4,85.0,?,1835,17.3,80,2
336,23.6,4,140.0,?,2905,14.3,80,1
354,34.5,4,100.0,?,2320,15.8,81,2
374,23.0,4,151.0,?,3035,20.5,82,1