In [1]:
import pandas as pd

## DataFrame
A DataFrame is a table. It contains an array of individual entries, each of which  has a certain value
Each entry corresponds to a row(or record) and a column.

In [2]:
pd.DataFrame({'Yes':[12,34],'No':[34,56]})

   Yes  No
0   12  34
1   34  56

A DataFrame's entries are dictionary , with key as the column header and value as the row values.
The index are automatically incremented starting from 0 , if not provided.
You can specifically provide them.as.

In [3]:
pd.DataFrame({'Bob':['Awsome UI','API is robust'],'Marley':['responsive','Scalable-API']}
             ,index=['Portfolio','Twitter-clone'])

                         Bob        Marley
Portfolio          Awsome UI    responsive
Twitter-clone  API is robust  Scalable-API

## Series
This helps in creating a One-dimensional ndarray with axis labels.
The data can be string , int, float and dictionary,Array etc.

In [4]:
pd.Series([1,3,4,5,6,7])

0    1
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [5]:
pd.Series(['saurabh','mark','danny'])

0    saurabh
1       mark
2      danny
dtype: object

A Series is , in essence a single column of a DataFrame, So you can assign column values to the series the way as before, using an index parameter.However a series doesn't have a column name, I only has an overall name.

In [6]:
pd.Series(['Awsome','UI is hell','Not seen a API like this'],
          index=['portfolio','KanabanBoard','Twitter'],name="Webapp review")

portfolio                         Awsome
KanabanBoard                  UI is hell
Twitter         Not seen a API like this
Name: Webapp review, dtype: object

## Reading data files
We can create DataFrames or series by hand, but in realworld scenarios ,we would be required to 
read data from external sources , one of most common format is csv files.pandas is rebost to read data from such sources.Let's have a look

In [7]:
#Read the winery data
wine_data=pd.read_csv('winemag-data-130k-v2.csv')

In [8]:
#shape property gives you the shape of the ndarray i.e dataframe
wine_data.shape

(129971, 14)

So our DataFrame has around 130000 records split across 14 different columns,we can examine the contents of the DataFrame using head() command, which grabs the first 5 rows.

In [9]:
wine_data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [10]:
#You can also provide numerical values to the head
wine_data.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

read_csv method can be used with 30 different optional parameters.E.g. In this dataset csv file has an inbuilt index, which pandas didn't pick automatically so we can make pandas use that column as index by specifying argument index_col.

In [274]:
wine_data=pd.read_csv("winemag-data-130k-v2.csv",index_col=0)

In [12]:
wine_data.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

## Index-Selecting & assignment
Selecting specific values of a DataFrame is crucial and implicit step in any data operation for better insight and visulalization. Python helps a lot in selecting specific data point relevat to you quickly and effectiviely.

In [13]:
# this restrics the interpreter to show only the specified max_rows and rest are hidden.
pd.set_option('max_rows',5)

In [14]:
wine_data

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [15]:
# A specific property of the DataFrame can be accessed by assinging it as an attribute.
# Since a max_rows property is applied the attribute behaves in the same way
wine_data.country

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [16]:
# What we are seeing above is nothing but a series
# It can be accessed by providing the attribute name in [].
wine_data['country']

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [17]:
# we can select a value based on it's as if it was a Dictionary with index as their key
wine_data['country'][1]

'Portugal'

## Indexing in Pandas
The indexing operator and attribute selection are good as they work just like they do in the python ecosystem.However pandas has it's own indexing operatiors iloc and loc.
Index based selection in Pandas indexing works in one of the 2 paradigm. The first one is index-based selection: Selecting data based on it's numerical position in data.
iloc follows the paradigm.

In [18]:
#To Select the first row of data in a DataGram ,this need to be done
wine_data.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

Both loc and iloc are row-first and column-second, This is opposite of is in native python, which is column-first and row-second.

In [19]:
#To Get the column with iloc , this is the approach

wine_data.iloc[:,1]

#':' denotes all(everything) the rows and '1' is the 2nd cloumn which is 'description'

0         Aromas include tropical fruit, broom, brimston...
1         This is ripe and fruity, a wine that is smooth...
                                ...
129969    A dry style of Pinot Gris, this is crisp with ...
129970    Big, rich and off-dry, this is powered by inte...
Name: description, Length: 129971, dtype: object

In [20]:
# we can provide the range also, for e.g to select the country column just the first ,second and 
# third row , we can do this

wine_data.iloc[:3,0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [21]:
# and to select just the second and third entries  (Note index starts from 0)
wine_data.iloc[1:3,0]

1    Portugal
2          US
Name: country, dtype: object

In [22]:
# It is also posiible to pass a list
wine_data.iloc[[1,4,8],0]

1    Portugal
4          US
8     Germany
Name: country, dtype: object

In [23]:
# Negative index can also be used in the selection. This will start counting forward from the end of
# values.
# to select the last 2 data
wine_data.iloc[-2:]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [24]:
# Similarly to select last 2 country from the dataset
wine_data.iloc[-2:,0]

129969    France
129970    France
Name: country, dtype: object

## Label-based selection
The second paradigm for attribute selection is the one followed by the loc operator:label-based selection.In this paradigm. it's the data index value, not it's position which counts.

In [25]:
# To get the first entry in data
wine_data.loc[0,'country']

'Italy'

iloc is conceptual simpler than loc because it ignores the dataset's indices.
When we use iloc we treat the dataset like a big matrix (a list of lists), one that we have to index into by position.
loc by contrast , uses the information in the indices to do this work , since the dataset already has meaningfil indices, it's easier to do thing using loc instead.

In [26]:
# to get the first 4 info based on indices
wine_data.loc[1:4,['taster_name','taster_twitter_handle','points']]

          taster_name taster_twitter_handle  points
1          Roger Voss            @vossroger      87
2        Paul Gregutt           @paulgwine       87
3  Alexander Peartree                   NaN      87
4        Paul Gregutt           @paulgwine       87

### Note 
- keep in mind about iloc and loc , that they use different indexing options.
- iloc uses python's stlib indexing scheme, where the first element of the range is included and last one is excluded. ([1:10]-- return data from 1..9) exclusive type.
- loc whereas is of inclusive nature meand ([1:10]-- return data from 1..10)

## Manipulating the index
However the index of the dataset are immutable , but we can manipulate the index as we want by using 
set_index method.

In [27]:
# to provie a index which fits better than actual index we use set_index
wine_data.set_index('designation')

,country,description,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
designation,,,,,,,,,,,,
Vulkà Bianco,Italy,"Aromas include tropical fruit, broom, brimston...",87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
Avidagos,Portugal,"This is ripe and fruity, a wine that is smooth...",87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,France,"A dry style of Pinot Gris, this is crisp with ...",90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
Lieu-dit Harth Cuvée Caroline,France,"Big, rich and off-dry, this is powered by inte...",90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

## Conditional Selection
- so far we have been indexing the various data , using structural properties of the DataFrame itself.
- we can do conditional selction to get answer the questions based on condition, there comes the use of conditional selction

In [28]:
# to get the info based on country name
wine_data.country=='Italy'

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

> this operation produced a Series of True/False based on country value of each row.This result can be used inside a loc get the relevant data

In [29]:
# get all of them based ona condition
wine_data.loc[wine_data.country == "Italy"]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

In [30]:
# more complex conditonal fetch
wine_data.loc[(wine_data.country == 'Italy') & (wine_data.points>=90) 
              & (wine_data.price==70.0)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128665,Italy,This structured wine opens with aromas of leaf...,Torre della Trappola,90,70.0,Tuscany,Brunello di Montalcino,NaN,Kerin O’Keefe,@kerinokeefe,Barone Ricasoli 2010 Torre della Trappola (Br...,Sangiovese,Barone Ricasoli
129585,Italy,"Engaging scents suggesting rose, iris, perfume...",NaN,90,70.0,Tuscany,Brunello di Montalcino,NaN,Kerin O’Keefe,@kerinokeefe,Sesta di Sopra 2011 Brunello di Montalcino,Sangiovese,Sesta di Sopra

In [31]:
# purchase wine from Italy which or rated above average
wine_data.loc[(wine_data.country == "Italy") | (wine_data.points>=90)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

### Builtin Conditional Selectors

In [32]:
# isin operator

wine_data.loc[wine_data.country.isin(['Italy','Us'])]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

In [33]:
# isnull & notnull
wine_data.loc[(wine_data.country == "Italy") & (wine_data.taster_name.notnull())]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

### Assigining Data

In [34]:
# assiging data to a DataFrame, a constant value can be assigned
wine_data['critics']="everyone"
wine_data.loc[:,'critics']

0         everyone
1         everyone
            ...
129969    everyone
129970    everyone
Name: critics, Length: 129971, dtype: object

In [35]:
# assigning iterable values
wine_data['index_backwards']=range(len(wine_data),0,-1)
wine_data.loc[:,'index_backwards']

0         129971
1         129970
           ...
129969         2
129970         1
Name: index_backwards, Length: 129971, dtype: int64

### Summary Functions
> We can't get the meaningful data from a dataset by leveraging the builtin summary function

In [36]:
# describe
wine_data.points.describe()

count    129971.000000
mean         88.447138
             ...
75%          91.000000
max         100.000000
Name: points, Length: 8, dtype: float64

> this method generates a high level sumamry of the attributes of the given column.

In [37]:
# for string type column
wine_data.taster_name.describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

In [38]:
# individual descrptions of a column e.g, mean,median etc.
wine_data.points.mean()

88.44713820775404

In [39]:
wine_data.points.median()

88.0

In [40]:
# To list unique values
wine_data.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [41]:
# To list unique values and their count
wine_data.taster_name.value_counts()

Roger Voss           25514
Michael Schachner    15134
                     ...
Fiona Adams             27
Christina Pickard        6
Name: taster_name, Length: 19, dtype: int64

### Map
A map is a term from mathematics , for a function that takes one set of values and "maps" them to another set of values.
In data science there can be a need for creating new representaions from existing data , or for transformaing a data into a format as we want later.

Maps are what handle this work, making it extremely important for the work

map() is the first a simpler one.

In [42]:
# To remean the scores of the wines recieved to 0 .
wine_points_mean=wine_data.points.mean()
wine_data.points.map(lambda _points:_points - wine_points_mean)

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [43]:
wine_data.critics.map(lambda _crt:_crt+"-yes")

0         everyone-yes
1         everyone-yes
              ...
129969    everyone-yes
129970    everyone-yes
Name: critics, Length: 129971, dtype: object

> apply() is an equivalent mathod if we want to transform a whole DataFrame by calling a custom 
method on reach row

In [44]:
def remean_points(row):
    row.points=row.points - wine_points_mean
    return row

wine_data.apply(remean_points,axis="columns")

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critics,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.447138,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.447138,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,1.552862,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,everyone,2
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,1.552862,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,everyone,1

### Note
- If we call apply() with axis="index" , then instead of passing a function to transform a each row , the function should compute based on each column.
- The map() and apply() returns new Series and DataFrame respectievely . They don't modify the original data they are called on.

In [45]:
wine_data.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critics,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971

> pandas provide built-in mapping functions which are faster the map() and apply()

In [46]:
# to remean
remean_points_mean=wine_data.points.mean()
wine_data.points-remean_points_mean

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [47]:
# string manipulation
wine_data.country + "- -"+ wine_data.region_1

0            Italy- -Etna
1                     NaN
               ...
129969    France- -Alsace
129970    France- -Alsace
Length: 129971, dtype: object

### Note
- Altough the built-in functions are faster , but they are not capable of doing complex manipulations like map and apply

In [48]:
#1,2,3,5,8
indexes=[1,2,3,5,8]
wine_data.loc[[1,2,3,5,8]]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critics,index_backwards
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone,129969
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone,129968
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem,everyone,129966
8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87,12.0,Rheinhessen,NaN,NaN,Anna Lee C. Iijima,NaN,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel,everyone,129963

In [49]:
#wine_data.loc[1:4,['taster_name','taster_twitter_handle','points']]
wine_data.loc[[0,1,10,100],['country','province','region_1','region_2']]

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

In [50]:
wine_data.loc[1:100,['country','variety']]

      country                   variety
1    Portugal            Portuguese Red
2          US                Pinot Gris
..        ...                       ...
99         US  Bordeaux-style Red Blend
100        US                Pinot Gris

[100 rows x 2 columns]

In [51]:
wine_data.loc[(wine_data.country == 'Australia') | (wine_data.country ==  'New Zealand')]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critics,index_backwards
77,Australia,This medium-bodied Chardonnay features aromas ...,Made With Organic Grapes,86,18.0,South Australia,South Australia,NaN,Joe Czerwinski,@JoeCz,Yalumba 2016 Made With Organic Grapes Chardonn...,Chardonnay,Yalumba,everyone,129894
83,Australia,"Pale copper in hue, this wine exudes passion f...",Jester Sangiovese,86,20.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Mitolo 2016 Jester Sangiovese Rosé (McLaren Vale),Rosé,Mitolo,everyone,129888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129956,New Zealand,"The blend is 44% Merlot, 33% Cabernet Sauvigno...",Gimblett Gravels Merlot-Cabernet Sauvignon-Malbec,90,19.0,Hawke's Bay,NaN,NaN,Joe Czerwinski,@JoeCz,Esk Valley 2011 Gimblett Gravels Merlot-Cabern...,Bordeaux-style Red Blend,Esk Valley,everyone,15
129958,New Zealand,This blend of Cabernet Sauvignon-Merlot and Ca...,Irongate,90,35.0,Hawke's Bay,NaN,NaN,Joe Czerwinski,@JoeCz,Babich 2010 Irongate Red (Hawke's Bay),Bordeaux-style Red Blend,Babich,everyone,13

In [52]:
import re as re
pattern = re.compile(r"(tropical|fruity)\b")
matches = pattern.finditer(wine_data.description.to_string())
count = 0
for i in matches:
    count += 1
    
print(count)

3942

In [53]:
#Use a map to check each description for the string tropical, then count up the number of 
#times this is True.
#Repeat this for fruity. Finally, create a Series combining the two values.
# substring in fullstring:

In [54]:

n_tropical = wine_data.description.map(lambda desc: 'tropical' in desc).sum()
n_fruity = wine_data.description.map(lambda desc: 'fruity' in desc).sum()
pd.Series([n_tropical,n_fruity], index=['tropical','fruity'])

tropical    3607
fruity      9090
dtype: int64

In [55]:
# reviews system
wine_data.head(1)
#A score of 95 or higher counts as 3 stars, 
#a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critics,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971

In [56]:
def starSys(row):
    star = 0
    if(row.country == 'Canada'):
        star = 3
    if(row.points >= 95):
        star = 3
    if(row.points >= 85):
        star = 2
    else:
        star = 1
    
    return star
    
star_ratings = wine_data.apply(starSys,axis="columns") 
star_ratings

0         2
1         2
         ..
129969    2
129970    2
Length: 129971, dtype: int64

### GroupBy
Maps allow us to transform data in a DataFrame or Series one value at a time for an entire column. However, often we want to group our data, and then do something specific to the group the data is in.

As you'll learn, we do this with the groupby() operation. We'll also cover some additional topics, such as more complex ways to index your DataFrames, along with how to sort your data.

In [68]:
# Groupwise analysis
wine_data.groupby('points').price.count()

points
80     395
81     680
      ...
99      28
100     19
Name: price, Length: 21, dtype: int64

groupby() created a group of reviews which allotted the same point values to the given wines. Then, for each of these groups, we grabbed the points() column and counted how many times it appeared. value_counts() is just a shortcut to this groupby() operation.

In [69]:
# to get the cheapest wine in each point value category
wine_data.groupby('points').price.min()

points
80      5.0
81      5.0
       ...
99     44.0
100    80.0
Name: price, Length: 21, dtype: float64

- each group we generate as being a slice of our DataFrame containing only data with values that match. 
- DataFrame is accessible to us directly using the apply() method, and we can then manipulate the data in any way we see fit.

In [74]:
# The name of the first wine reviewed from each winery in the dataset:
wine_data.groupby('winery').apply(lambda df:df.title.iloc[0]+"---")

winery
1+1=3                       1+1=3 NV Rosé Sparkling (Cava)---
10 Knots              10 Knots 2010 Viognier (Paso Robles)---
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                      Štoka 2009 Izbrani Teran (Kras)---
Length: 16757, dtype: object

- group by more than one column. For an example, here's how we would pick out the best wine by country and province:

In [84]:
wine_data.groupby(['country','province']).apply(lambda df:df.loc[df.points.idxmax])
# wine_data.loc[wine_data.points.idxmax(),['country','points']]

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
...                               ...
Uruguay   San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
...                                                                       ...
Uruguay   San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                          designation  points  price  \
country   province
Argentina Mendoza Province           Nicasia Vineyard      97  120.0
          Other                               Reserva      95   90.0
...                                               ...     ...    ...
Uruguay   San Jose           El Preciado Gran Reserva      87   50.0
          Uruguay           Blend 002 Limited Edition      91   22.0

                                    province region_1 region_2  \
country   province
Argentina Mendoza Province  Mendoza Province  Mendoza      NaN
          Other                        Other    Salta      NaN
...                                      ...      ...      ...
Uruguay   San Jose                  San Jose      NaN      NaN
          Uruguay                    Uruguay      NaN      NaN

                                  taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province  Michael Schachner           @wineschach
          Other             Michael Schachner           @wineschach
...                                       ...                   ...
Uruguay   San Jose          Michael Schachner           @wineschach
          Uruguay           Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
...                                                                       ...
Uruguay   San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery  \
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
...                                           ...                   ...
Uruguay   San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

                             critics  index_backwards
country   province
Argentina Mendoza Province  everyone            47217
          Other             everyone            51668
...                              ...              ...
Uruguay   San Jose          everyone            90073
          Uruguay           everyone            90610

[425 rows x 15 columns]

- agg(), which lets you run a bunch of different functions on your DataFrame simultaneously.

In [86]:
# we can generate a simple statistical summary of the dataset as follows:
wine_data.groupby('country').price.agg([len,max,min])

              len    max   min
country
Argentina  3800.0  230.0   4.0
Armenia       2.0   15.0  14.0
...           ...    ...   ...
Ukraine      14.0   13.0   6.0
Uruguay     109.0  130.0  10.0

[43 rows x 3 columns]

### Multi-indexes

In all of the examples we've seen thus far we've been working with DataFrame or Series objects with a single-label index. groupby() is slightly different in the fact that, depending on the operation we run, it will sometimes result in what is called a multi-index.

A multi-index differs from a regular index in that it has multiple levels. For example:

In [144]:
countries_reviewed = wine_data.groupby(['country','province']).price.agg([len,min,max])
countries_reviewed

pandas.core.frame.DataFrame

In [94]:
type(countries_reviewed.index)

pandas.core.indexes.multi.MultiIndex

There are complex methods to access data from multipleindex df
However in general we can convert it to single index df

In [95]:
countries_reviewed.reset_index()

       country          province     len   min    max
0    Argentina  Mendoza Province  3264.0   4.0  230.0
1    Argentina             Other   536.0   7.0  150.0
..         ...               ...     ...   ...    ...
423    Uruguay          San Jose     3.0  20.0   50.0
424    Uruguay           Uruguay    24.0  12.0   50.0

[425 rows x 5 columns]

Looking again at countries_reviewed we can see that grouping returns data in index order, not in value order. That is to say, when outputting the result of a groupby, the order of the rows is dependent on the values in the index, not in the data.

To get data in the order want it in we can sort it ourselves. The sort_values() method is handy for this.

In [100]:
countries_reviewed.reset_index()
countries_reviewed.sort_values(by="min")

                                  len  min    max
country      province
Argentina    Mendoza Province  3264.0  4.0  230.0
Spain        Central Spain      485.0  4.0  250.0
...                               ...  ...    ...
South Africa Ceres Plateau        1.0  NaN    NaN
             Piekenierskloof      1.0  NaN    NaN

[425 rows x 3 columns]

sort_values sort in asending order i.e lowest first, to reverse this we can use as

In [104]:
countries_reviewed.sort_values(by='min', ascending=False)

                                        len    min    max
country      province
Switzerland  Switzerland                3.0  160.0  160.0
Croatia      Middle and South Dalmatia  1.0   65.0   65.0
...                                     ...    ...    ...
South Africa Ceres Plateau              1.0    NaN    NaN
             Piekenierskloof            1.0    NaN    NaN

[425 rows x 3 columns]

To sort by index values, use the companion method sort_index(). This method has the same arguments and default order:

In [105]:
countries_reviewed.sort_index()

                               len   min    max
country   province
Argentina Mendoza Province  3264.0   4.0  230.0
          Other              536.0   7.0  150.0
...                            ...   ...    ...
Uruguay   San Jose             3.0  20.0   50.0
          Uruguay             24.0  12.0   50.0

[425 rows x 3 columns]

you can sort by more than one column at a time:

In [108]:
countries_reviewed.sort_values(by=['country','max'],ascending=False)

                               len   min    max
country   province
Uruguay   Juanico             12.0  10.0  130.0
          Canelones           43.0  12.0   65.0
...                            ...   ...    ...
Argentina Mendoza Province  3264.0   4.0  230.0
          Other              536.0   7.0  150.0

[425 rows x 3 columns]

In [121]:
df = wine_data.groupby('taster_twitter_handle').taster_twitter_handle.count()
pd.Series(wine_data.groupby('taster_twitter_handle').taster_twitter_handle.count())

taster_twitter_handle
@AnneInVino        3685
@JoeCz             5147
                   ...
@winewchristina       6
@worldwineguys     1005
Name: taster_twitter_handle, Length: 15, dtype: int64

In [169]:
wine_data.groupby(['price'])['points'].max().sort_index()

price
4.0       86
5.0       87
          ..
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [171]:
wine_data.groupby('variety').price.agg([min,max])

              min   max
variety
Abouriou     15.0  75.0
Agiorgitiko  10.0  66.0
...           ...   ...
Çalkarası    19.0  19.0
Žilavka      15.0  15.0

[707 rows x 2 columns]

In [ ]:
#Create a variable sorted_varieties containing a copy of the dataframe
#from the previous question where varieties are sorted in
#descending order based on minimum price, then on maximum price (to break ties).

In [191]:
sorted_varieties = wine_data.groupby('variety').price.agg([min,max]).sort_values(by=['min','max'])
sorted_varieties

              min   max
variety
Pinot Grigio  4.0  70.0
Malbec-Syrah  4.0  78.0
...           ...   ...
Vital         NaN   NaN
Zelen         NaN   NaN

[707 rows x 2 columns]

In [192]:
sorted_varieties.sort_values(by=['min','max'],ascending=False)

             min    max
variety
Ramisco    495.0  495.0
Terrantez  236.0  236.0
...          ...    ...
Vital        NaN    NaN
Zelen        NaN    NaN

[707 rows x 2 columns]

Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the taster_name and points columns.

In [227]:
wine_data.groupby(['taster_name']).points.count()

taster_name
Alexander Peartree     415
Anna Lee C. Iijima    4415
                      ...
Susan Kostrzewa       1085
Virginie Boone        9537
Name: points, Length: 19, dtype: int64

 Series whose index is a MultiIndexof {country, variety} pairs. For example, a pinot noir produced in the US should map to {"US", "Pinot Noir"}. Sort the values in the Series in descending order based on wine count.

In [250]:
#wine_data.groupby(['country','province']).apply(lambda df:df.loc[df.points.idxmax])
#wine_data.head(1)
df = wine_data.groupby(['country','variety']).size().sort_values(ascending=False)
df.head(2)

country  variety
US       Pinot Noir            9885
         Cabernet Sauvignon    7315
dtype: int64

In [249]:
df.loc[:,['country','variety']]

                                       country             variety
country   variety
Argentina Barbera            51516   Argentina             Barbera
          Bonarda            231     Argentina             Bonarda
...                                        ...                 ...
Uruguay   Tempranillo-Tannat 12718     Uruguay  Tempranillo-Tannat
          White Blend        117371    Uruguay         White Blend

[129907 rows x 2 columns]

### data-types-and-missing-values

In [252]:
wine_data.dtypes

country            object
description        object
                    ...
critics            object
index_backwards     int64
Length: 15, dtype: object

In [253]:
wine_data.points.dtype

dtype('int64')

- dtype gives datatype of a single column
- dtypes gives datatypes of each col in the dataframe

In [258]:
# you can view a column  as a dtype
wine_data.points.astype('float64')

0         87.0
1         87.0
          ...
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

### Missing data
Entries missing values are given the value NaN, short for "Not a Number". For technical reasons these NaN values are always of the float64 dtype.

In [285]:
# Pandas provides some methods specific to missing data.
# To select NaN entries you can use pd.isnull() (or its companion pd.notnull()). 
count = wine_data[pd.isnull(wine_data.country)] #gives df where country is null
count = wine_data[pd.isnull(wine_data.price)]
count.shape[0]

8996

In [261]:
# Replacing missing values is a common operation.
# Pandas provides a really handy method for this problem: fillna(). fillna()
wine_data.country.fillna('India')

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [262]:
wine_data.loc[wine_data.country == 'India']

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critics,index_backwards
6673,India,"The nose carries notes of cassis, blackberry a...",Dindori Reserve,93,20.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2011 Dindori Reserve Shiraz (Nashik),Shiraz,Sula,everyone,123298
29302,India,A nose of cut herbs and just-mown grass backed...,NaN,89,12.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2015 Sauvignon Blanc (Nashik),Sauvignon Blanc,Sula,everyone,100669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108251,India,"Deep garnet in the glass, this wine has a nose...",Dindori Reserve,92,19.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2014 Dindori Reserve Shiraz (Nashik),Shiraz,Sula,everyone,21720
126932,India,This wine features a fresh nose of grapefruit ...,NaN,87,12.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2015 Chenin Blanc (Nashik),Chenin Blanc,Sula,everyone,3039

In [275]:
# a non null value can also be replaced
wine_data.country.replace('India','Hindustan')

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [297]:
wine_data.region_1 = wine_data.region_1.fillna('Unknown')

In [304]:
 reviews_per_region = wine_data.groupby('region_1').region_1.count().sort_values(ascending=False)

In [305]:
reviews_per_region

region_1
Unknown          21247
Napa Valley       4480
                 ...
Canada               1
Massachusetts        1
Name: region_1, Length: 1230, dtype: int64